@model IEnumerable<EntityFrameworkExtraMile.Domain.Model.Employee>
@{
    ViewBag.Title = "Employees";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<table>
    <thead>
        <th>Last Name</th>
        <th>First Name</th>
        <th>Middle Name</th>
        <th>Address</th>
        <th>Deductions</th>
        <th>Company Assets</th>
        <th></th>
    </thead>

    @foreach (var employee in Model)
    {
        <tr>
            <td>@employee.LastName</td>
            <td>@employee.FirstName</td>
            <td>@employee.MiddleName</td>
            <td>
                @employee.Address.AddressLine1<br />
                @if (@employee.Address.AddressLine2 != null)
                {
                    @employee.Address.AddressLine2<br />
                }
                @employee.Address.City, @employee.Address.State.Abbreviation @employee.Address.PostalCode
            </td>
            <td>
                <ul>
                    @foreach (var deduction in employee.PayrollDeductions)
                    {
                        <li>@deduction.Name - @deduction.Amount</li>
                    }
                </ul>
            </td>
            <td>
                <ul>
                    @foreach (var asset in employee.CompanyAssets)
                    {
                        <li>@asset.Name</li>
                    }
                </ul>
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { ID = employee.ID })
            </td>
        </tr>
    }
</table>
